.loginPage {
  display: flex;
  height: 100%;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;
      }

      button {
        padding: 20px;
        color: white;
        background-color: teal;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background-color: #BED9D8;
          cursor: not-allowed;
        }
      }

      span{
        color: rgba(255, 0, 0, 0.591);
      }

      a{
        width: max-content;
        color: gray;
        border-bottom: 1px solid gray;
        font-size: 14px;
      }
    }

    .imgContainer {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fcf5f3;

      img {
        width: 100%;
      }
    }
  }
}