@import "../../responsive.scss";

.singlePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }
  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    
    

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }


    
    .wrapper {
      padding-right: 50px;

      .info {
        margin-top: 50px;
        .top {
          display: flex;
          justify-content: space-between;

          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
              font-weight: 400;
            }

            .address {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 18px;

              .icon {
                color: red;
              }
            }

            .price {
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 18px;
              .icon {
                color: green;
              }
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0px 50px;
            border-radius: 10px;
            background-color: #eaded1;
            font-weight: 600;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          
        }

        .bottom {
          margin-top: 50px;
          color:#555;
          line-height: 24px;
        }
      }
    }
  }

  .details::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
  .features {
    flex: 2;
    background-color: #F0F0F0;
    height: 100%;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    .features::-webkit-scrollbar {
      display: none; /* 크롬, 사파리, 오페라, 엣지 */
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      padding: 0px 20px;
    }

    .title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }

    .feature {
      display: flex;
      align-items: center;
      gap: 10px;

     

      .featureText {
        
        span {
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .rental-agreement {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 10px;
      color: white;
      background-color: #2A2A2A;
      border-radius: 10px;
    }

    .roomSizes {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px;
      color: white;
      background-color: #2A2A2A;
      border-radius: 10px;
      
      @include lg {
        font-size: 12px;
      }

      .size {
        display: flex;
        gap: 10px;
      }
    }

    .places {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px;
      color: white;
      background-color: #2A2A2A;
      border-radius: 10px;
      
      .place {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .mapContainer {
      width: 100%;
      height: 200px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        color: white;
        background-color: #2A2A2A;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
}